#main-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-section iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-section p {
    text-align: center;
}